@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: lightgrey;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  width: 600px;
}

h1 {
  text-align: center;
  color: gray;
  width: 100%;
}

.content {
  color: red;
}
