/* Reset */

:root {
  /* Start with some basic variables to re-use*/
  --nav-bar-height: 70px;
  --nav-drawer-width: 350px;
  --transition-length: 0.6s;
}

/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: 'Merriweather', serif;
  overflow-x: hidden;
  overflow: hidden;
  transition: background-color var(--transition-length) ease-in-out; /* We will want to transition the background color */
  perspective: 750px; /* Remember, we want to put the perspective on the parent element (our viewfinder)*/
}

.main-wrapper {
  /* This is our subject. The thing we will be rotating */
  height: 100vh;
  width: 100vw;
  overflow: auto;
  transition: transform var(--transition-length) ease-in-out;
}

main {
  background-color: white;
}

.container {
  padding: 0 2rem;
}

/* Navbar */
.navbar {
  height: var(--nav-bar-height);
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1;
  position: fixed;
}

/* Menu open/close buttons */
.menu-btn {
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  height: 24px;
}
.menu-btn .hamburger,
.menu-btn .hamburger:before,
.menu-btn .hamburger:after {
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 3px;
}

.menu-btn .hamburger:before,
.menu-btn .hamburger:after {
  content: '';
  position: absolute;
  left: 0;
}

.menu-btn .hamburger:before {
  top: 0;
}

.menu-btn .hamburger:after {
  bottom: 0;
}

.close-btn {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  height: 30px;
  width: 30px;
  right: 20px;
  top: 20px;
}

.close-btn:before,
.close-btn:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  left: 0;
}

.close-btn:before {
  transform: rotate(-45deg);
  top: 13px;
}

.close-btn:after {
  transform: rotate(45deg);
  bottom: 13px;
}

/* Hero
 * Let's create a Hero section with a background image
*/
.hero {
  height: 700px;
  background-image: url('https://images.unsplash.com/photo-1485601284679-a2f86e6f7dea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:after {
  /* This will be an overlay on top of the image */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  background-color: black;
  opacity: 0.3;
}

.hero .container {
  /* We want to make sure that the text appears above the overlay */
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  letter-spacing: 0.6rem;
}

/* Info
 * Now, let's style the about section
*/
.info {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.info h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.info p {
  max-width: 900px;
  margin-bottom: 1rem;
  line-height: 2;
  text-align: center;
}

/* Nav Drawer */
.nav-drawer {
  width: var(--nav-drawer-width);
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  position: fixed;
  perspective: 1000px; /* Again, this is our parent element, or viewfinder through which we are looking at the subject (nav-drawer) */
}

.nav-drawer-inner {
  position: relative;
  height: 100%;
  width: 100%;
  transform: rotateY(100deg);
  transform-origin: left; /* Here, we want to change our transform origin so that we are rotating it from the left. */
  color: white;
  background-color: black;
  transition: transform var(--transition-length) ease-in-out;
  padding: 5rem 0;
  box-shadow: 5px 2px 5px 1px rgb(22, 22, 22);
  display: flex;
  align-items: center;
}

.nav-drawer ul {
  list-style: none;
  text-align: left;
  font-size: 2rem;
  margin: 0 2rem;
}

.nav-drawer ul li {
  margin-bottom: 2rem;
}

.nav-drawer ul li a {
  color: inherit;
  text-decoration: none;
}

/* Open state
 * Here we define the state of each element that will be transitioned when menu is open. 
 * We will use a class called 'is-open' which will be applied/removed to and from the body when menu and close icons are clicked respectively. 
*/
body.is-open {
  background-color: rgb(32, 32, 32);
}

body.is-open .nav-drawer {
  z-index: 1;
}
body.is-open .nav-drawer-inner {
  transform: rotateY(0);
}

body.is-open .main-wrapper {
  /* We will not only rotate the main-wrapper, but also slide it to the right a bit */
  transform: rotateY(-25deg) translateX(var(--nav-drawer-width));
}
