/* Reset */
:root {
  --nav-bar-height: 70px;
  --nav-drawer-width: 350px;
  --transition-length: 0.8s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  overflow-x: hidden;
}

main {
  transition: transform var(--transition-length) ease;
}

/* General */
.container {
  padding: 0 2rem;
}

/* Navbar */
.navbar {
  height: var(--nav-bar-height);
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  transition: transform var(--transition-length) ease;
  z-index: 1;
  position: fixed;
}

/* Hamburger Menu */
.menu-btn {
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  height: 24px;
}
.menu-btn .hamburger,
.menu-btn .hamburger:before,
.menu-btn .hamburger:after {
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 3px;
}

.menu-btn .hamburger:before,
.menu-btn .hamburger:after {
  content: '';
  position: absolute;
  left: 0;
}

.menu-btn .hamburger:before {
  top: 0;
}

.menu-btn .hamburger:after {
  bottom: 0;
}

/* Hero */
.hero {
  margin-top: calc(var(--nav-bar-height) * -1);
  height: 700px;
  background-image: url('https://images.unsplash.com/photo-1485601284679-a2f86e6f7dea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  background-color: black;
  opacity: 0.3;
  z-index: 0;
}

.hero .container {
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  letter-spacing: 0.6rem;
}

/* Info */
.info {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.info h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.info p {
  max-width: 900px;
  margin-bottom: 1rem;
  line-height: 2;
  text-align: center;
}

/* Nav Drawer */
.nav-drawer {
  width: var(--nav-drawer-width);
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  perspective: 1000px;
  position: fixed;
}

.nav-drawer-inner {
  height: 100%;
  width: 100%;
  transform: rotateY(100deg);
  transform-origin: left;
  color: white;
  background-color: black;
  transition: transform var(--transition-length) ease-in-out;
  padding: 5rem 0;
}

.nav-drawer ul {
  list-style: none;
  text-align: left;
  font-size: 2rem;
  margin: 0 2rem;
}

.nav-drawer ul li {
  margin-bottom: 2rem;
}

.nav-drawer ul li a {
  color: inherit;
  text-decoration: none;
}

body.is-open header,
body.is-open main {
  transform: translateX(var(--nav-drawer-width));
}

body.is-open .nav-drawer {
  z-index: 1;
}
body.is-open .nav-drawer-inner {
  transform: rotateY(0);
}
